<p-progressSpinner *ngIf="!items" class="loading" strokeWidth="6" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
<app-scanner *ngIf="isScannig" (onPicked)="scannerRead($event)"></app-scanner>

<p-sidebar [visible]="sessionService.visibleSidebar" (onHide)="closeSidebarClick($event)" styleClass="ui-sidebar-lg" position="bottom" [baseZIndex]="99999">
    <h1>{{sessionService.titleSidebar}}</h1>
    <div id="right-sidebar" #dynamicComponentContainer></div>
</p-sidebar>

<p-toolbar *ngIf="item">
    <div class="ui-toolbar-group-left">
        <button pButton type="button" label="{{ 'Back' | translate }}" (click)="cancelClick()" class="ui-button-secondary" icon="pi pi-arrow-left"></button>
        <p>N°{{item.movementNumber}}</p>
        <p>{{ 'Date' | translate }}: {{item.movementDate | date: 'yyyy-MM-dd'}}</p>
    </div>
    <div class="ui-toolbar-group-right" style="text-align: right">
        <table>
            <tr><td>{{ 'Causal' | translate }}:</td><td>{{item.movementCausal.causalName}}</td></tr>
            <tr><td>{{ 'Store' | translate }}:</td><td>{{item.movementStore.storeName}}</td></tr>
            <tr><td>{{ 'Status' | translate }}:</td><td>{{item.movementStatus}}</td></tr>
            <tr><td colspan="2">
                <button *ngIf="item.movementStatus!=='Completed'" type="button" pButton icon="pi pi-save" class="ui-button-primary" (click)="completedClick()" label="{{ 'Completed' | translate }}" style="margin-top: 10px"></button>
            </td></tr>
        </table>
    </div>
</p-toolbar>

<p-table #dt [responsive]="true" [value]="items | priceFilter:priceValue:'movement':amountValue | articleFilter:articleValue"
    sortMode="single" [paginator]="true" [rows]="15" [totalRecords]="totalRecords" [pageLinks]="5">

    <ng-template pTemplate="caption">
        <div *ngIf="!committed" style="text-align: left; padding-left: 40px;">
            <button pButton style="position: absolute;left: 10px; top: 4px;" type="button" title="{{ 'Search' | translate }}" (click)="articlePickerClick()" class="ui-button-primary" icon="pi pi-search"></button>
            <p-chips [(ngModel)]="barcodes" placeholder="barcode reading" (onAdd)="addBarcode()"></p-chips>
            <button pButton style="position: absolute;right: 10px; top: 4px;" type="button" title="{{ 'Scanner' | translate }}" (click)="barcodePickerClick()" class="ui-button-primary" icon="pi pi-money-bill"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th [pSortableColumn]="'movementArticleBarcode'">
                {{ 'Barcode' | translate }}
                <p-sortIcon [field]="'movementArticleBarcode'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'movementArticleProduct'">
                {{ 'Product' | translate }}
                <p-sortIcon [field]="'movementArticleProduct'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'movementArticleQuantity'">
                {{ 'Quantity' | translate }}
                <p-sortIcon [field]="'movementArticleQuantity'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'movementArticleDelivered'">
                {{ 'Delivered' | translate }}
                <p-sortIcon [field]="'movementArticleDelivered'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'movementArticlePrice'">
                {{ 'Price' | translate }}
                <p-sortIcon [field]="'movementArticlePrice'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'movementArticleAmount'">
                {{ 'Amount' | translate }}
                <p-sortIcon [field]="'movementArticleAmount'"></p-sortIcon>
            </th>
        </tr>
        <tr>
            <th>
                <input pInputText type="text" placeholder="{{ 'Search' | translate }}" (input)="dt.filter($event.target.value, 'movementArticleBarcode', 'contains')">
            </th>
            <th>
                <input pInputText type="text" placeholder="{{ 'Search' | translate }}" (input)="dt.filter($event.target.value, 'movementArticleProduct', 'contains')">
            </th>
            <th>
                <input pInputText type="text" placeholder="{{ 'Search' | translate }}" (input)="dt.filter($event.target.value, 'movementArticleQuantity', 'contains')">
            </th>
            <th>
                <input pInputText type="text" placeholder="{{ 'Search' | translate }}" (input)="dt.filter($event.target.value, 'movementArticleDelivered', 'contains')">
            </th>
            <th>
                <i class="fa fa-close" (click)="priceValue=null;dt.filter(null,'movementArticlePrice','contains')"></i>
                <p-slider [style]="{'margin-top':'14px','margin-bottom':'5px'}" [(ngModel)]="priceValue" [min]="5" [max]="1000"></p-slider>
            </th>
            <th>
                <i class="fa fa-close" (click)="priceValue=null;dt.filter(null,'movementArticleAmount','contains')"></i>
                <p-slider [style]="{'margin-top':'14px','margin-bottom':'5px'}" [(ngModel)]="priceValue" [min]="5" [max]="1000"></p-slider>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
        <tr [pSelectableRow]="row">
            <td>{{ row.movementArticleBarcode }}</td>
            <td>{{ row.movementArticleProduct | articleInfo:row.movementArticleBarcode }}</td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [disabled]="committed" [(ngModel)]="row.movementArticleQuantity" (change)="onUpdate(data)">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ row.movementArticleQuantity }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [disabled]="row.movementStatus==='Completed'" [(ngModel)]="row.movementArticleDelivered" (change)="onUpdate(data)">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ row.movementArticleDelivered }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [disabled]="committed" [(ngModel)]="row.movementArticlePrice" (change)="onUpdate(data)">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ row.movementArticlePrice | currencyFormat }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>{{ row.movementArticleAmount | currencyFormat }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr>
            <td colspan="6">
                <span style="float: left"><b>{{totalRecords}}</b> {{ 'rows' | translate }}</span>
                <span style="float: right">{{ 'items' | translate }} <b>{{totalItems}}</b> {{ 'amount' | translate }} <b>{{totalAmount | currencyFormat}}</b></span>
            </td>
        </tr>
    </ng-template>

</p-table>