<p-progressSpinner *ngIf="!attributes" class="loading" strokeWidth="6" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>

<div class="container-fluid">

    <p-table #dt *ngIf="!display" [columns]="cols" [responsive]="true" [value]="attributes"
        selectionMode="single" [(selection)]="selected" sortMode="single" (onRowSelect)="onRowSelect($event)"
        [paginator]="true" [rows]="15" [totalRecords]="totalRecords" [pageLinks]="5">

        <ng-template pTemplate="caption">
            <div style="text-align: left">        
                <button pButton type="button" title="{{ 'Add' | translate }}" label="{{totalRecords}}" (click)="addClick()" class="ui-button-primary" icon="pi pi-plus"></button>
                <button pButton type="button" title="{{ 'Edit' | translate }}" (click)="editClick()" class="ui-button-primary" icon="pi pi-pencil"></button>
                <input type="text" pInputText placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto; float: right;">
                <i class="fa fa-search" style="margin:4px 4px 0 0; float: right;"></i>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header | translate}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-columns="columns">
            <tr [pSelectableRow]="row">
                <td *ngFor="let col of columns">
                    {{row[col.field]}}
                </td>
            </tr>
        </ng-template>

    </p-table>

    <p-panel *ngIf="display">
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="font-size:20px;display:inline-block;margin-top:6px"><b>{{ 'Attribute' | translate }}</b></span>
                <button pButton type="button" label="{{ 'Close' | translate }}" (click)="closeClick()" style="float: right" class="ui-button-secondary" icon="pi pi-times"></button>
            </div>
        </p-header>
        <form [formGroup]="dataform">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="selected">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="name">{{ 'Name' | translate }}</label></div>
                    <div class="ui-grid-col-8">
                        <input pInputText formControlName="name" [(ngModel)]="selected.attributeName"/>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dataform.controls['name'].valid&&dataform.controls['name'].dirty">
                            <i class="fa fa-close"></i> {{ 'Name' | translate }} {{ 'is required' | translate }}
                        </div>
                    </div>
                </div>
                <app-translation [(translations)]="selected.translations" [style]="{'height':'100px'}"></app-translation>                            
                <div class="ui-grid-row">
                    <div class="ui-grid-col-6">
                        <button *ngIf="selected.attributeId>0" type="button" pButton icon="pi pi-trash" class="ui-button-secondary" (click)="deleteClick()" label="{{ 'Delete' | translate }}"></button>
                    </div>
                    <div class="ui-grid-col-6">
                        <button type="button" pButton icon="pi pi-save" (click)="saveClick()" label="{{ 'Save' | translate }}" [disabled]="!dataform.valid"></button>
                    </div>
                </div>
            </div>
        </form>
    </p-panel>

</div>
