<p-table #dt *ngIf="isOpen" [responsive]="true" [value]="movements | dateFilter:dateStartValue:dateFinishValue"
    selectionMode="single" [(selection)]="selected" sortMode="single" [contextMenu]="bts"
    [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [pageLinks]="5">

    <ng-template pTemplate="caption">
        <div style="text-align: left">
            <span style="font-size:20px;display:inline-block;margin-top:3px"><b>{{ 'Movement picker' | translate }}</b></span>
            <button pButton type="button" label="{{ 'Close' | translate }}" (click)="hidePickerClick()" style="float: right" class="ui-button-secondary" icon="pi pi-times"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th [pSortableColumn]="'movementNumber'">
                {{ 'Number' | translate }}
                <p-sortIcon [field]="'movementNumber'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'movementDate'">
                {{ 'Date' | translate }}
                <p-sortIcon [field]="'movementDate'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'movementCausal.causalName'">
                {{ 'Causal' | translate }}
                <p-sortIcon [field]="'movementCausal.causalName'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'movementStore.storeName'">
                {{ 'Store' | translate }}
                <p-sortIcon [field]="'movementStore.storeName'"></p-sortIcon>
            </th>
        </tr>
        <tr>
            <th>
                <input pInputText type="text" placeholder="{{ 'Search' | translate }}" (input)="dt.filter($event.target.value, 'movementNumber', 'contains')">
            </th>
            <th>
                <i class="fa fa-close" style="float: top; width: 100%;" (click)="dateStartValue=null;dateFinishValue=null;dt.filter(null,'movementDate','contains')"></i>
                <p-calendar [locale]="helpers.locale" [(ngModel)]="dateStartValue" [inputStyle]="{'width':'100%','float':'top'}" dateFormat="yy-mm-dd" placeholder="{{ 'Start' | translate }}" styleClass="ui-column-filter"></p-calendar>
                <p-calendar [locale]="helpers.locale" [(ngModel)]="dateFinishValue" [inputStyle]="{'width':'100%','float':'top'}" dateFormat="yy-mm-dd" placeholder="{{ 'Finish' | translate }}" styleClass="ui-column-filter"></p-calendar>
            </th>
            <th>
                <p-dropdown [options]="causalsFiltered" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,'movementCausal.causalName','equals')" styleClass="ui-column-filter"></p-dropdown>
            </th>
            <th>
                <p-dropdown [options]="storesFiltered" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,'movementStore.storeName','equals')" styleClass="ui-column-filter"></p-dropdown>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
        <tr [pSelectableRow]="row">
            <td>{{ row.movementNumber }}</td>
            <td>{{ row.movementDate | date:'yyyy-MM-dd' }}</td>
            <td>{{ row.movementCausal.causalName }}</td>
            <td>{{ row.movementStore.storeName }}</td>
        </tr>
    </ng-template>

</p-table>