<p-progressSpinner *ngIf="!items" class="loading" strokeWidth="6" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>

<div class="container-fluid">

    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" title="{{ 'Refresh' | translate }}" (click)="refreshClick()" class="ui-button-primary" icon="pi pi-refresh"></button>
            {{totalRecords}} {{ 'pending carts' | translate }}
        </div>
        <div class="ui-toolbar-group-right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText placeholder="{{ 'Search' | translate }}">
        </div>
    </p-toolbar>
  
    <p-dataTable [responsive]="true" [value]="items"
        [paginator]="true" [rows]="15" [totalRecords]="totalRecords" [pageLinks]="5"
        [globalFilter]="gb" #dt>
        <p-column field="basketId" header="Id" [style]="{'width':'100px'}" [sortable]="true"></p-column>
        <p-column field="registry.registryName" header="{{ 'Customer' | translate }}" [sortable]="true"></p-column>
        <p-column field="basketBarcode" header="{{ 'Barcode' | translate }}" [sortable]="true"></p-column>
        <p-column header="{{ 'Product' | translate }}" [sortable]="true">
            <ng-template let-col let-data="rowData" pTemplate="body">
                {{data.basketProduct | articleInfo:data.basketBarcode}}
            </ng-template>
        </p-column>
        <p-column field="basketQuantity" header="{{ 'Quantity' | translate }}" [sortable]="true"></p-column>
        <p-column header="{{ 'Price' | translate }}" [sortable]="true">
            <ng-template let-col let-data="rowData" pTemplate="body">
                {{data.basketPrice | currencyFormat}}
            </ng-template>
        </p-column>
        <p-column header="{{ 'UpdatedAt' | translate }}" [sortable]="true">
            <ng-template let-col let-data="rowData" pTemplate="body">
                {{data.basketUpdated | dateFormat}}
            </ng-template>
        </p-column>
    </p-dataTable>
  
</div>
