<form [formGroup]="detailform">
<p-accordion>
    <p-accordionTab header="{{ 'Price' | translate }}" [selected]="true">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="selling">{{ 'Selling' | translate }}</label></div>
            <div class="ui-grid-col-8">
                <input pInputText type="number" min="0" formControlName="selling" [(ngModel)]="selected.price.selling"/>
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!detailform.controls['selling'].valid&&detailform.controls['selling'].dirty">
                    <i class="fa fa-close"></i> {{ 'Selling' | translate }} {{ 'Price' | translate }} {{ 'is required' | translate }}
                </div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="purchase">{{ 'Purchase' | translate }}</label></div>
            <div class="ui-grid-col-8">
                <input pInputText type="number" min="0" formControlName="purchase" [(ngModel)]="selected.price.purchase"/>
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!detailform.controls['purchase'].valid&&detailform.controls['purchase'].dirty">
                    <i class="fa fa-close"></i> {{ 'Purchase' | translate }} {{ 'Price' | translate }} {{ 'is required' | translate }}
                </div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="tax">{{ 'Tax' | translate }}</label></div>
            <div class="ui-grid-col-8"><span>{{selected.productTax.name}}</span></div>
        </div>
    </div>
</p-accordionTab>
<p-accordionTab header="{{ 'Discount' | translate }}">
    <app-discount [discount]="selected.discount"></app-discount>
</p-accordionTab>
<p-accordionTab header="{{ 'Packaging' | translate }}">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="weight">{{ 'Weight' | translate }}</label></div>
            <div class="ui-grid-col-8">
                <input pInputText type="number" min="0" formControlName="weight" [(ngModel)]="selected.packaging.weight"/>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="length">{{ 'Length' | translate }}</label></div>
            <div class="ui-grid-col-8">
                <input pInputText type="number" min="0" formControlName="length" [(ngModel)]="selected.packaging.length"/>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="width">{{ 'Width' | translate }}</label></div>
            <div class="ui-grid-col-8">
                <input pInputText type="number" min="0" formControlName="width" [(ngModel)]="selected.packaging.width"/>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="height">{{ 'Height' | translate }}</label></div>
            <div class="ui-grid-col-8">
                <input pInputText type="number" min="0" formControlName="height" [(ngModel)]="selected.packaging.height"/>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label>{{ 'Unit of Measure' | translate }}</label></div>
            <div class="ui-grid-col-8"><span>{{selected.productUm}}</span></div>
        </div>
    </div>
    </p-accordionTab>
</p-accordion>
<br/>
<button type="button" pButton icon="pi pi-save" class="ui-button-primary" (click)="saveClick()" label="{{ 'Save' | translate }}" style="width: 100%" [disabled]="!detailform.valid"></button>
</form>