<p-progressSpinner *ngIf="!items" class="loading" strokeWidth="6" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>

<div class="container-fluid">

    <p-overlayPanel #xmlContent [style]="{'margin-top':'100px'}">
        <textarea [rows]="30" [cols]="120" pInputTextarea [(ngModel)]="xml"></textarea>
    </p-overlayPanel>

    <p-table #dt [columns]="cols" [responsive]="true" [value]="items" [paginator]="true" [rows]="15" [totalRecords]="totalRecords" [pageLinks]="5">

        <ng-template pTemplate="caption">
            <div style="text-align: left">        
                <button pButton type="button" title="Refresh" (click)="refreshClick()" class="ui-button-primary" icon="pi pi-refresh"></button>
                {{totalRecords}} {{ 'pending requests' | translate }}
                <input type="text" pInputText placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto; float: right;">
                <i class="fa fa-search" style="margin:4px 4px 0 0; float: right;"></i>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>XML</th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header | translate}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th>{{ 'Info' | translate }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-columns="columns">
            <tr [pSelectableRow]="row">
                <td>
                    <button type="button" pButton icon="pi pi-search" (click)="selectXml($event,row.requestXml,xmlContent);"></button>
                </td>
                <td *ngFor="let col of columns">
                    {{row[col.field]}}
                </td>
                <td>
                    <button type="button" pButton icon="pi pi-question-circle" (click)="selectXml($event,row.errorDescription,xmlContent);"></button>
                </td>
            </tr>
        </ng-template>

    </p-table>

</div>
