<p-progressSpinner *ngIf="!brands" class="loading" strokeWidth="6" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>

<div class="container-fluid">

    <p-table #dt *ngIf="!selected" [columns]="cols" [responsive]="true" [value]="brands"
        selectionMode="single" [(selection)]="selected" sortMode="single" (onRowSelect)="onRowSelect($event)"
        [paginator]="true" [rows]="15" [totalRecords]="totalRecords" [pageLinks]="5">

        <ng-template pTemplate="caption">
            <div style="text-align: left">        
                <button pButton type="button" title="{{ 'Add' | translate }}" label="{{totalRecords}}" (click)="addClick()" class="ui-button-primary" icon="pi pi-plus"></button>
                <input type="text" pInputText placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto; float: right;">
                <i class="fa fa-search" style="margin:4px 4px 0 0; float: right;"></i>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header | translate}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr [pSelectableRow]="row">
                <td>{{ row.brandId }}</td>
                <td>{{ row.brandName }}</td>
                <td>{{ row.media.name }}</td>
            </tr>
        </ng-template>

    </p-table>

    <p-toolbar *ngIf="selected">
        <div class="ui-toolbar-group-left">
            <button *ngIf="selected" pButton type="button" label="{{ 'Close' | translate }}" (click)="closeClick()" class="ui-button-secondary" icon="pi pi-times"></button>
        </div>
        <div class="ui-toolbar-group-right">
            <button *ngIf="selected.brandId>0" type="button" pButton icon="pi pi-trash" class="ui-button-secondary" (click)="deleteClick()" label="{{ 'Delete' | translate }}"></button>
            <button type="button" pButton icon="pi pi-save" (click)="saveClick()" label="{{ 'Save' | translate }}" class="ui-button-primary" [disabled]="selected.brandName===''"></button>
        </div>
    </p-toolbar>

    <p-tabView *ngIf="selected">
        <p-tabPanel header="{{ 'Brand' | translate }}">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="name">{{ 'Name' | translate }}</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText [(ngModel)]="selected.brandName"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="selected.brandName===''">
                        <i class="fa fa-close"></i> {{ 'Name' | translate }} {{ 'is required' | translate }}
                    </div>
                </div>
            </div>
            <app-translation [(translations)]="selected.translations" [style]="{'height':'100px'}"></app-translation>
        </div>
        </p-tabPanel>
        <p-tabPanel header="{{ 'Media' | translate }}">
            <app-media [(media)]="selected.media"></app-media>
        </p-tabPanel>
        <p-tabPanel header="{{ 'SEO' | translate }}">
            <app-seo [(seo)]="selected.seo" [path]="'brand'"></app-seo>
        </p-tabPanel>
    </p-tabView>

</div>